<html>
    <head>
        <link rel="stylesheet" href="../index.Declarative%20rendering(1)/index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>

    <div id="app-7">
        <ol>
            <!--
              各 todo-item の内容を表す todo オブジェクトを与えます。
              これにより内容は動的に変化します。
              また後述する "key" を各コンポーネントに提供する必要があります。
            -->
            <todo-item
                    v-for="item in groceryList"
                    v-bind:todo="item"
                    v-bind:key="item.id"
            ></todo-item>
        </ol>
    </div>


        <script src="index7.js"></script>

    </body>
</html>