<html>
    <head>
        <link rel="stylesheet" href="../index.Declarative%20rendering(1)/index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>

        <div id="app-3">
            <span v-if="seen">
                Now you see me
            </span>
        </div>

    <script src="index3.js"></script>

    </body>
</html>