<html>
    <head>
        <link rel="stylesheet" href="../index.Declarative%20rendering(1)/index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>

        <div id="app-6">
            <p>
                {{ message }}
            </p>
            <input v-model="message">
        </div>

    <script src="index6.js"></script>

    </body>
</html>