<html>
    <head>
        <link rel="stylesheet" href="../index.Declarative%20rendering(1)/index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>

        <div id="app-4">
            <ol>
                <li v-for="todo in todos">
                    {{ todo.text }}
                </li>
            </ol>
        </div>

    <script src="index4.js"></script>

    </body>
</html>