<html>
    <head>
        <link rel="stylesheet" href="../index.Declarative%20rendering(1)/index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>

        <div id="app-5">
            <p>
                {{ message }}
            </p>
            <button v-on:click="reverseMessage">
                Reverse Message
            </button>
        </div>

    <script src="index5.js"></script>

    </body>
</html>